*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", sans-serif;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

:root {
  --bg-color: #0f1115;
  --text-color: #ffffff;
  --accent-color: #ffde00;
  --accent-color-blur: #ffdd0040;
  --text-muted: #b0b0b0;
  --text-accent: rgb(12, 149, 199);
  --container-width: 1140px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 12px;
  vertical-align: baseline;
  color: var(--text-color);
  text-decoration: none;
  text-align: justify;
  line-height: 1.4;
  letter-spacing: -0.02em;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
  list-style-type: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.subtitle {
  font-size: 14px;
}

/* Header 320px - 768px */

header {
  background-color: var(--bg-color);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header-container {
  padding-top: 16px;
  padding-bottom: 16px;
}

.header-nav {
  display: none;
}

.header-logo {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
}

/* Hero-section */

.hero-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/images/hero-background.avif");
}

.hero-container {
  padding-top: 48px;
  padding-bottom: 48px;
}

.hero-title {
  font-size: 28px;
  margin-bottom: 24px;
}

.hero-subtitle {
  margin-bottom: 20px;
  font-weight: normal;
}

.hero-container > p,
.hero-title,
.hero-subtitle {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.504);
}

.hero-container > p {
  margin-bottom: 12px;
}

.hero-accent {
  font-weight: 600;
  color: var(--text-accent);
}

.hero-btn {
  padding: 8px;
  margin-top: 12px;
  border-radius: 4px;
  outline: none;
  border: none;
  color: var(--bg-color);
  text-transform: uppercase;
  background-color: var(--accent-color);
  letter-spacing: 0em;
  font-weight: 600;
  box-shadow: var(--accent-color-blur) 0px 0px 24px;
}
